---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: " " }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

  <img src="images/cute-watermelon.png" alt="smiling watermelon" width="20%" style="transform:rotate(5deg) translate(400%,-150%)">
  <figure><img src="images/pexels-luis-ruiz-toronto-med.jpg" alt="toronto" style="transform:translatey(-20%)"><figcaption display="inline-block"; vertical-align="middle"><a href="https://www.pexels.com/photo/city-buildings-near-sea-under-blue-sky-1292843/">Photo by Luis Ruiz</a></figcaption></figure>
</div>
